<h1>Computer Skills</h1>
<p></br></br>  Certified from Oracle for learning Core Java and Advanced Java</br></br>  
	Languages: C,C++, JAVA, VB, PL/SQL, HTML</br></br>
	Database- MySQL, SQL</br></br>
	Application Tools: NetBeans 8.0,DOS Box</br> </br>
	Platforms: Linux Red Hat/Ubuntu/Fedora/Debian, Windows XP/Vista/2000/2007/2008,Mac OS X </br></br>


 </p>