<h1>Group Projects</h1>
<p>
<br/><br/>	Intelligent Management of Virtual Machines in Cloud Computing Environment  <i> (2013-2014)</i><br/><br/>
Project Description: Implemented Genetic Algorithm to compute the impact of requested Virtual Machine on the system, using MapReduce provided fittest solution for load balancing. Worked as a developer for 5 modules involved in the proposition. <br/>Project under Prof. H.P. Channe of University of Pune as internal guide and Mr. Sanjay Sharma of Thought Works as industrial guide.
	<br/>Programming Languages used: Java

<br/><br/>	PICT Alumni   <i>(2012-2013)</i><br/><br/>
Project Description: Designed an application for registration of new alumnus in the Alumni Committee. Worked as a team lead.<br/> The project was guided by Prof. P.R. Patil of University Of Pune.
	<br/>Programming Languages used: Visual Basic, Oracle XE.

 </p>