<h1>Honors</h1>
<p> 
<br/><br/>Gold medal in Delhi Public School Noida, India (high school) for excellence in academics consistently from 
2003-2008 <br/><br/>
	Led business plan team to victory at ‘INC’ - a national B-plan convention in 2012 in Pune, India

</p>