<h1>Solo Projects</h1>
<p><br/><br/>
  	Implementation of Poker game for casino.&nbsp;&nbsp;&nbsp;&nbsp;<i>   (2014-2015)</i><br/><br/>
Project Description: Hypothesized a casino work environment that uses test cases like royal flush full house and further related cases.<br/>Project under Harry Budiman of University of Massachusetts Boston.<br/>
Programming Languages Used: Java

<br/><br/><br/><br/>	Pay and Park Facility.&nbsp;&nbsp;&nbsp;&nbsp;  <i> (2011-2012)</i>	<br/><br/>
Project Description: Implementation of Pay and Park facility to be used in toll booths.<br/> Project under Prof .Sheetal Sonawane of University of Pune.<br/>
Programming Languages Used: Java (JSP), HTML, CSS

</p>