
<h1>WORK EXPERIENCE</h1>

<p><br/><br/><u><b>Research Assistant</b></u> <i>(June 2015 - Present)</i> <br/><br/>

Correct errors by making appropriate changes and rechecking the program to ensure that the desired results are produced.<br/>

Write, analyze, review, and rewrite programs, using workflow chart and diagram, and applying knowledge of computer capabilities, subject matter, and symbolic logic.<br/>

Conduct trial runs of programs and software applications to be sure they will produce the desired information and that the instructions are correct.<br/><br/><br/><br/>

<u><b>Secretary at Graduate Student Assembly</b></u><i> (May 2015 - Present)</i><br/><br/>

Attend meetings to record minutes.<br/>
Assist Executive Board members with projects as they arise.<br/>
Organize and lead the By-Laws Committee.<br/>
Manage all social media for Graduate Student Assembly.<br/><br/><br/><br/>

<u><b>Computer Consultant</b></u><i>(January 2015 - May 2015)</i><br/><br/>

Set up equipment for employee use, performing or ensuring proper installation of cables, operating systems, or appropriate software.<br/>
Read technical manuals, confer with users, or conduct computer diagnostics to investigate and resolve problems or to provide technical assistance and support.<br/>
Oversee the daily performance of computer systems.<br/>
Answer user inquiries regarding computer software or hardware operation to resolve problems.<br/>
Prepare evaluations of software or hardware, and recommend improvements or upgrades.<br/>

</p>